* {
  color: #fff;
  font-family: sans-serif;
}

/* Classes */

.fullScreen {
  background: rgba( 0, 0, 0, 0.88 );
  left: 0;
  position: absolute;
  top: 0;
}

.viewContainer {
  position: relative;
  width: 352px;
}

/* Elements */

a {
  color: #52A7ED;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: rgb( 34, 34, 34 );
  margin: 0;
  text-align: center;
}

button {
  background-color: #22222280;
  background-position: center;
  background-size: contain;
  border: none;
  bottom: 8px;
  height: 38px;
  position: absolute;
  right: 4px;
  width: 38px;
  z-index: 950;
}

button.toggleFullScreen {
  background-image: url( '/assets/full_screen.png' );
}

button.toggleFullScreen.toNormal {
  background-image: url( '/assets/normal_size.png' );
}

button#showInfoButton {
  background-image: url( '/assets/data.png' );
}

button#globalSettingsButton {
  background-image: url( '/assets/illumination.png' );
}

button#AutoExposureButton {
  background-image: url( '/assets/autoexposure.png' );
}

button#HDRButton {
  background-image: url( '/assets/hdr.png' );
}

canvas {
  height: 288px;
  width: 352px;
  max-width: 100%;
}

h1{
  margin-top: 4%;
  margin-bottom: 2%;
}

input {
  color: #000;
}

table {
  margin: 3rem auto;
  width: 100%;
}

td {
  border-bottom: 1px solid #377BB5;
  padding: 0.8rem 0.3rem;
}

td:first-child {
  text-align: right;
  width: 10%;
}

textarea {
  color: #333;
}

tr:last-child td {
  border-bottom: none;  
}

/* IDs */

#globalSettingsButton {
  position: fixed;
  left: 4px;
  z-index: 950;
}

#AutoExposureButton{
  position: absolute;
  left: 88px;
  z-index: 950;
}

#HDRButton{
  position: absolute;
  left: 130px;
  z-index: 950;
}

#globalSettingsContainer {
  background-color: rgba( 0, 0, 0, 0.88 );
  bottom: 0;
  display: none;
  padding: 1rem 10%;
  position: fixed;
  width: 80%;
  z-index: 900;
}

#globalSettingsContainer input {
  width: 100%;
}

#infoContainer {
  background-color: rgba( 0, 0, 0, 0.88 );
  display: none;
  padding: 1rem 10%;
  position: absolute;
  top: 0;
  width: 80%;
  z-index: 1000;
}

#logos {
  bottom: 0;
  margin: 0 80px 20px 0;
  position: fixed;
  right: 0;
}

#logos a {
  border: none;
  margin-left: 20px;
}

#showInfoButton {
  position: fixed;
  left: 46px;
  z-index: 950;
}

#viewHull {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media ( max-width: 1100px ) {
  
  #viewHull {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}


/* HDR Switch */
/*  */
.hdr {
  position: relative; width: 82px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.hdr-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.hdr-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 0px;
}
.hdr-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.1s ease-in 0s;
}
.hdr-inner:before, .hdr-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 26px;
  font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
  border: 2px solid transparent;
  background-clip: padding-box;
}
.hdr-inner:before {
  content: "HDR ON";
  padding-left: 15px;
  text-align: left;
  background-color: #00FF00; color: #333333; //32AFD7
}
.hdr-inner:after {
  content: "HDR OFF";
  padding-right: 10px;
  background-color: #CCCCCC; color: #333333;
  text-align: right;
}
.hdr-switch {
  display: block; width: 15px; margin: 0px;
  background: #828282;
  position: absolute; top: 0; bottom: 0;
  right: 67px;
  transition: all 0.1s ease-in 0s; 
}
.hdr-checkbox:checked + .hdr-label .hdr-inner {
  margin-left: 0;
}
.hdr-checkbox:checked + .hdr-label .hdr-switch {
  right: 0px; 
}




/* Auto Exposure Switch */
/*  */
.auto {
  position: relative; width: 82px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.auto-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.auto-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 0px;
}
.auto-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.1s ease-in 0s;
}
.auto-inner:before, .auto-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 26px;
  font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
  border: 2px solid transparent;
  background-clip: padding-box;
}
.auto-inner:before {
  content: "Auto ON";
  padding-left: 15px;
  text-align: left;
  background-color: #00FF00; color: #333333;
}
.auto-inner:after {
  content: "Auto OFF";
  padding-right: 10px;
  background-color: #CCCCCC; color: #333333;
  text-align: right;
}
.auto-switch {
  display: block; width: 15px; margin: 0px;
  background: #828282;
  position: absolute; top: 0; bottom: 0;
  right: 67px;
  transition: all 0.1s ease-in 0s; 
}
.auto-checkbox:checked + .auto-label .auto-inner {
  margin-left: 0;
}
.auto-checkbox:checked + .auto-label .auto-switch {
  right: 0px; 
}



/* Table options in exposureContainer */
/*  */
table.exposureContainer {
  margin: 3rem auto;
  width: 100%;
}

table.exposureContainer td {
  border-bottom: 0px solid #377BB5;
  padding: 0.8rem 0.3rem;
}

table.exposureContainer td:first-child {
  text-align: left;
  width: 10%;
}

table.exposureContainer textarea {
  color: #333;
}

table.exposureContainer tr:last-child td {
  border-bottom: none;  
}