* {
  color: #fff;
  font-family: sans-serif;
}

/* Classes */

.fullScreen {
  background: rgba( 0, 0, 0, 0.88 );
  left: 0;
  position: absolute;
  top: 0;
}

.viewContainer {
  position: relative;
  width: 352px;
}

/* Elements */

a {
  color: #52A7ED;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: rgb( 34, 34, 34 );
  margin: 0;
  text-align: center;
}

button {
  background-color: rgba( 34, 34, 34, 0.5 );
  background-position: center;
  background-size: contain;
  border: none;
  bottom: 8px;
  height: 38px;
  position: absolute;
  right: 4px;
  width: 38px;
  z-index: 950;
}

button.toggleFullScreen {
  background-image: url( '/assets/full_screen.png' );
}

button.toggleFullScreen.toNormal {
  background-image: url( '/assets/normal_size.png' );
}

button#showInfoButton {
  background-image: url( '/assets/data.png' );
}

button#globalSettingsButton {
  background-image: url( '/assets/illumination.png' );
}

canvas {
  height: 288px;
  width: 352px;
  max-width: 100%;
}

h1{
  margin-top: 4%;
  margin-bottom: 2%;
}

input {
  color: #000;
}

table {
  margin: 3rem auto;
  width: 100%;
}

td {
  border-bottom: 1px solid #377BB5;
  padding: 0.8rem 0.3rem;
}

td:first-child {
  text-align: right;
  width: 10%;
}

textarea {
  color: #333;
}

tr:last-child td {
  border-bottom: none;  
}

/* IDs */

#globalSettingsButton {
  position: fixed;
  left: 4px;
  z-index: 1000;
}

#globalSettingsContainer {
  background-color: rgba( 0, 0, 0, 0.88 );
  bottom: 0;
  display: none;
  padding: 1rem 10%;
  position: fixed;
  width: 80%;
  z-index: 900;
}

#globalSettingsContainer input {
  width: 100%;
}

#infoContainer {
  background-color: rgba( 0, 0, 0, 0.88 );
  display: none;
  padding: 1rem 10%;
  top: 0;
  width: 80%;
  z-index: 1000;
}

#logos {
  bottom: 0;
  margin: 0 80px 20px 0;
  position: fixed;
  right: 0;
}

#logos a {
  border: none;
  margin-left: 20px;
}

#showInfoButton {
  position: fixed;
  left: 46px;
  z-index: 950;
}

#viewHull {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media ( max-width: 1100px ) {
  
  #viewHull {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}
