* {
  color: #fff;
  font-family: sans-serif;
}

/* Classes */

.fullScreen {
  background: rgba( 0, 0, 0, 0.88 );
  left: 0;
  position: absolute;
  top: 0;
}

.viewContainer {
  position: relative;
  width: 352px;
}

/* Elements */

a {
  color: #52A7ED;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: rgb( 34, 34, 34 );
  margin: 0;
  text-align: center;
}

button {
  background-color: rgba( 34, 34, 34, 0.5 );
  background-position: center;
  background-size: contain;
  border: none;
  bottom: 8px;
  height: 38px;
  position: absolute;
  right: 4px;
  width: 38px;
  z-index: 950;
}

button.toggleFullScreen {
  background-image: url( '/assets/full_screen.png' );
}

button.toggleFullScreen.toNormal {
  background-image: url( '/assets/normal_size.png' );
}

button#showInfoButton {
  background-image: url( '/assets/data.png' );
}

button#globalSettingsButton {
  background-image: url( '/assets/illumination.png' );
}

button#AutoExposureButton {
  background-image: url( '/assets/autoexposure.png' );
}

button#HDRButton {
  background-image: url( '/assets/hdr.png' );
}

canvas {
  height: 288px;
  width: 352px;
  max-width: 100%;
}

h1{
  margin-top: 4%;
  margin-bottom: 2%;
}

input {
  color: #000;
}

table {
  margin: 3rem auto;
  width: 100%;
}

td {
  border-bottom: 1px solid #377BB5;
  padding: 0.8rem 0.3rem;
}

td:first-child {
  text-align: right;
  width: 10%;
}

textarea {
  color: #333;
}

tr:last-child td {
  border-bottom: none;  
}

/* IDs */

#globalSettingsButton {
  position: fixed;
  left: 4px;
  z-index: 950;
}

#AutoExposureButton{
  position: absolute;
  left: 88px;
  z-index: 950;
}

#HDRButton{
  position: absolute;
  left: 130px;
  z-index: 950;
}

#globalSettingsContainer {
  background-color: rgba( 0, 0, 0, 0.88 );
  bottom: 0;
  display: none;
  padding: 1rem 10%;
  position: fixed;
  width: 80%;
  z-index: 900;
}

#globalSettingsContainer input {
  width: 100%;
}

#infoContainer {
  background-color: rgba( 0, 0, 0, 0.88 );
  display: none;
  padding: 1rem 10%;
  position: absolute;
  top: 0;
  width: 80%;
  z-index: 1000;
}

#logos {
  bottom: 0;
  margin: 0 80px 20px 0;
  position: fixed;
  right: 0;
}

#logos a {
  border: none;
  margin-left: 20px;
}

#showInfoButton {
  position: fixed;
  left: 46px;
  z-index: 950;
}

#viewHull {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media ( max-width: 1100px ) {
  
  #viewHull {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}


.onoffswitch {
  position: relative; width: 90px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 18px; margin: 6px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 56px;
  border: 2px solid #999999; border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}