* {
  color: #32afd7;
  font-family: sans-serif;
}

/* Classes */

.fullScreen {
  background: rgba( 0, 0, 0, 0.82 );
  left: 0;
  position: absolute;
  top: 0;
}

.viewContainer {
  position: relative;
  outline: 1px solid #f00;
}

/* Elements */

a {
  color: #377BB5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  text-align: center;
}

button {
  bottom: 4px;
  height: 32px;
  position: absolute;
  right: 4px;
  width: 32px;
}

canvas {
  height: 288px;
  width: 352px;
  max-width: 100%;
}

h1{
  margin-top: 4%;
  margin-bottom: 2%;
}

table {
  margin: 3rem auto;
}

td {
  border-bottom: 1px solid #377BB5;
  padding: 0.8rem 0.3rem;
}

td:first-child {
  text-align: right;
}

tr:last-child td {
  border-bottom: none;  
}

/* IDs */

#viewHull {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
